<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http‐equiv="Content‐Type" content="text/html" charset="UTF-8" />
 <link rel="stylesheet" type="text/css" href="flow.css">></link>
<title>Insert title here</title>
</head>
<body>
<script src="/js/flow.js"></script>

<li class="flow-sub">
<a th:href=""http://airs2.sie.dendai.ac.jp/airs/db1/db1-0/a/index.html"" onclick= ""setCookie2('1', 'true', 24*3600);""><span>1章概要</span><script>var visitCount= getCookie;(1)var backgroundColor = determineBackgroundColor(visitCount);
         document.currentScript.parentElement.style.backgroundColor = backgroundColor;
         
         function determineBackgroundColor(visitCount) {
                      
             if (visitCount!==0) {
                 return 'rgb(73, 215, 73)';
             } else {
                 return 'rgb(73, 215, 255)';
             }
         }　 </script></a>
<a th:href=""http://airs2.sie.dendai.ac.jp/airs/db1/db1-1/b/index.html"" onclick= ""setCookie2('2', 'true', 24*3600);""><span>データベース</span>
      <script>var visitCount= getCookie;(2)var backgroundColor = determineBackgroundColor(visitCount);
         document.currentScript.parentElement.style.backgroundColor = backgroundColor;
         
         function determineBackgroundColor(visitCount) {
                      
             if (visitCount!==0) {
                 return 'rgb(73, 215, 73)';
             } else {
                 return 'rgb(73, 215, 255)';
             }
         }　 </script></a>
<a th:href=""http://airs2.sie.dendai.ac.jp/airs/db1/db1-1/b/index.html"" onclick= ""setCookie2('3', 'true', 24*3600);""><span>データベース</span><script>var visitCount= getCookie;(3)var backgroundColor = determineBackgroundColor(visitCount);
         document.currentScript.parentElement.style.backgroundColor = backgroundColor;
         
         function determineBackgroundColor(visitCount) {
                      
             if (visitCount!==0) {
                 return 'rgb(73, 215, 73)';
             } else {
                 return 'rgb(73, 215, 255)';
             }
         }　 </script></a>
<a th:href=""http://airs2.sie.dendai.ac.jp/airs/db1/db1-2/b/index.html"" onclick= ""setCookie2('4', 'true', 24*3600);""><span>3層スキーマ</span><script>var visitCount= getCookie;(4)var backgroundColor = determineBackgroundColor(visitCount);
         document.currentScript.parentElement.style.backgroundColor = backgroundColor;
         
         function determineBackgroundColor(visitCount) {
                      
             if (visitCount!==0) {
                 return 'rgb(73, 215, 73)';
             } else {
                 return 'rgb(73, 215, 255)';
             }
         }　 </script></a>
<a th:href=""http://airs2.sie.dendai.ac.jp/airs/db1/db1-4/b/index.html"" onclick= ""setCookie2('5', 'true', 24*3600);""><span>データの機密保護</span><script>var visitCount= getCookie;(5)var backgroundColor = determineBackgroundColor(visitCount);
         document.currentScript.parentElement.style.backgroundColor = backgroundColor;
         
         function determineBackgroundColor(visitCount) {
                      
             if (visitCount!==0) {
                 return 'rgb(73, 215, 73)';
             } else {
                 return 'rgb(73, 215, 255)';
             }
         }　 </script></a>

</li>

<script>
deleteTriangle();
</script>

</body>
</html>
